<!DOCTYPE html>
{{/*
  Copyright 2019 Google LLC

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      https://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
*/}}
<html>
<head>
<title>Web API Gateway UI</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/portal/static/gateway.css">
</head>

<body>
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">Gateway UI</div>
    </div>
{{if .Profile}}
    <ul class="nav navbar-nav">
      <li><a href="/portal/">Services</a></li>
      <li><a href="/portal/users">Authorized UI Users</a></li>
      <li><a href="/portal/upload">Upload Config File</a></li>
    </ul>
    <form method="post" action="/portal/logout" class="navbar-form navbar-right">
      <button class="btn btn-default">Log out</button>
    </form>
    <div class="navbar-text navbar-right">
    </div>
  </div>
</div>
<div class="container databody">
  {{if .Flash}}
  <div class="alert alert-info" role="alert">
    <strong>{{.Flash}}</strong>
  </div>
  {{end}}
  {{template "body" .Data}}
</div>
  {{else}}
    <div class="navbar-text navbar-right">
      <a class="login-link" href="/portal/login">Log in</a>
    </div>
  </div>
</div>
  <div class="container databody">
    {{if .Flash}}
    <div class="alert alert-danger" role="alert">
      <strong>{{.Flash}}</strong>
    </div>
    {{end}}
  </div>

  <div class="container welcomepage">
    <p><h3>Welcome to the Web API Gateway!</h3><br></p>
    <p>Web API Gateway allows you to share API access with partners.<br></p>
    <p>Please Log in first.</p>
    <p>Please have the Config file ready.</p>
    <img src="/portal/static/welcome.png" alt="Welcome!">
  </div>
  {{end}}
</body>
</html>
